@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap'); /* link da fonte externa*/

body{
    text-align: right left center justify; /* direita esquerda centro estica*/
    text-decoration: none; /* retira risco abaixo da palavra*/
    text-decoration: overline; /* insere uma linha sobre o texto todo*/
    text-decoration: line-through; /* risca todo o texto*/
    text-decoration: underline; /* sublinha todo o texto*/
    text-transform: uppercase; /* coloca todas palavras em maiúscula*/
    text-transform: lowercase; /* coloca todas palavras em minúscula*/
    text-transform: capitalize; /* coloca sempre a 1° palavra maiúscula*/
    text-indent: 50px; /* recua formando parágrafo*/
    letter-spacing: 5px; /* distancia as letras ou recua*/
    word-spacing: 15px; /* distancia as palvras*/
    line-height: 0.8; /* distancia uma linha da outra*/
    color: aquamarine; /* define cor do texto*/

    font-family: Verdana, Geneva, Tahoma, sans-serif; /* tipo da fonte*/
    font-size: 15px; /* tamanho da fonte*/
    font-family: "Sevillana", cursive; /* fonte externa*/
    font-style: italic; /* fonte itálico*/
    font-weight: bold; /* fonte negrito pode ser numeração pra espessura*/
    
    background-color: lime; /* cor de fundo*/
    background-image: url(""); /* imagem de fundo */
    background-size: 100%; /* objeto ocupa todo espaço*/
    background-position: center; /* centraliza o objeto*/
    background: url("") center lime; /* juntamos 3 sem o size*/

    padding: 50px; /* afasta no geral internamente*/
    padding-top: 50px; /* afasta internamente do topo*/
    padding-right: 50px; /* afasta internamente da direita*/
    padding-bottom: 50px; /* afasta internamente do fundo*/
    padding-left: 50px; /* afasta internamente da esquerda*/
    padding: 50px 50px 50px 50px; /* topo, direita, abaixo, esquerda*/

    border: 1px; /* espessura da borda*/
    border-radius: 10px; /* bordas arredondadas*/
    border: solid dotted dashed double; /* sólido pontos traços duplas*/
    border: black; /* cor da borda*/
    border-top: 5px solid aqua; /* cor da borda do topo*/
    border-left: 5px solid aquamarine; /* cor da borda da esquerdo*/
    border-right: 5px solid bisque; /* cor da borda da direito*/
    border-bottom: 5px solid chocolate; /* cor da borda de baixo*/

    margin-top: 50px; /* afastar do topo*/
    margin-right: 50px; /* afata da direita*/
    margin-bottom: 50px; /* afasta abaixo*/
    margin-left: 50px; /* afasta da esquerda*/
    margin: 50px 50px 50px 50px; /* topo, direita, abaixo, esquerda*/

    width: 500px; /* define altura*/
    height: 300px; /* define largura*/
    max-width: 800px; /* defime um máximo de largura*/

    display: block; /* início da página até o final, div, h1 a h6, p, form, header, footer, section, ul, li*/
    display: inline; /* fica em linha, uma do lado da outra, a href, span*/
    display: none; /* fica ativo a parte do código, mas não aparece, nomear o item com id= e no style terá começo com #, tem efeito tbm tipo botão, passando o mouse encima do display ele pode sumir colocando exemplo #p:hover*/
    display: inline-block; /* dá pra configurar o tamanho dos blocos*/
    visibility: hidden; /* mostra o local oculto*/
 

    
    
}