body{
    margin: 0;
}
.titulo{
    text-align: center;
    color: rgb(5, 5, 124);
    background-color:rgb(212, 139, 49);
    padding: 10px;
    border-radius: 50px;
}
.secao{
    text-align: left;
    color: bisque;
    background-color: blue;
    padding: 20px;
    border-radius: 50px;
}
mark{
    background-color: rgb(255, 0, 191);
}
a.botao1{
    text-decoration: none;
    color: white;
    background: darkgreen;
    padding: 10px;
    border: 5px solid greenyellow;
    border-radius: 10px;
}
a.botao1:hover{
    background: rgb(6, 211, 6);
    padding: 12px;
    border: 5px solid rgb(80, 129, 6);
}
a.botao2{
    text-decoration: none;
    padding: 10px;
    border: 5px double blue;
    color: blue;
}
a.botao2:hover{
    text-decoration: underline;
    padding: 8px;
    background: blue;
    color: white;
}
a.botao3{
    text-decoration: none;
    color: black;
}
a.botao3:hover{
    border-bottom: 3px solid black;
    color: red;
    cursor: help;
}