body{
    margin: 0;
}
.titulo{
    padding: 10px;
    background-color:rgb(212, 139, 49);
    color: rgb(5, 5, 124);
    text-align: center;
}
.secao{
    padding: 20px;
    background-color: blue;
    color: bisque;
    text-align:justify;
}