body{
    background-color: cadetblue;
}
.titulo{
    text-align: center;
    color: blanchedalmond;
    background-color:darkgreen;
    padding: 10px;
}
.secao{
    color: rgb(25, 37, 206);
    background-color: burlywood;
    padding: 20px;
}
.botao{
    text-decoration: none;
    color: white;
    background-color: rgb(35, 69, 180);
    padding: 20px;
    border-radius: 10px;
}
.botao:hover{
    background-color: green;
}
.pre{
    border: solid;
    width: 500px;
    height: 130px;
}